<div class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-logo">
                    <img src="../../../assets/image/LOGO.png" alt="Logo">
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <p class="menu-label has-text-weight-semibold">
                        Sitio Web
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="home">home</a>
                        </li>
                        <li>
                            <a href="home">home</a>
                        </li>
                        <li>
                            <a href="home">home</a>
                        </li>
                        <li>
                            <a href="home">home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="menu">
                    <p class="menu-label has-text-weight-semibold">
                        Redes Sociales
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="home">Facebook</a>
                        </li>
                        <li>
                            <a href="home">Instagram</a>
                        </li>
                        <li>
                            <a href="home">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="menu">
                    <p class="menu-label has-text-weight-semibold">
                        Contacto
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a >pelicanosweb@gmail.com</a>
                        </li>
                        <li>
                            <a href="home">home</a>
                        </li>
                        <li>
                            <a href="home">home</a>
                        </li>
                        <li>
                            <a href="home">home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="menu">
                    <p class="menu-label has-text-weight-semibold">
                       Ubicacion
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="home">home</a>
                        </li>
                        <li>
                            <a href="home">home</a>
                        </li>
                        <li>
                            <a href="home">home</a>
                        </li>
                        <li>
                            <a href="home">home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>