<section class="hero is-fullheight video">
  <div class="hero-video">
    <video id="bgvid" controls [muted]="'muted'" autoplay loop>
      <source src="../assets/video/video.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="hero-body main-hero">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        Pelicanos
      </h1>
      <h2 class="subtitle">
        Beach volley
      </h2>
    </div>
  </div>
</section>
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1 has-text-black">
            Sobre nosotros
          </h1>
          <h1 class="has-text-black">
            El club deportivo de los pelicanos vóley arena se encuentran como pioneros en esta modalidad en la ciudad de Manizales, Caldas ,
             además el club busca forjar en sus integrantes valores positivos que lo hacen lograr sobresalir en las distintas competencias que este deporte presenta; 
             incluso siempre buscamos fortalecer las habilidades de los deportistas prestando atención a sus cualidades físicas y mentales y 
             así obtener una adecuada sesión de acondicionamiento y  fortalecimiento para estas características… Siempre apuntamos alto y nos gusta que la gente comparta 
             nuestra emoción por este deporte por lo que también somos pioneros en gestionar torneos y logramos satisfactoriamente nuestra intención principal
             que es integrar a la comunidad y competir sanamente.
          </h1>
        </div>
        <div class="column">
          <img
            src="../../../assets/image/4.jpg" />
        </div>
      </div>
      <div class="bttwh">
        <a class="button is-large is-warning" href="/elements/history">¿Quienes somos?</a>
      </div>
      
    </div>
  </div>
</section>
<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              How Facebook Is Changing to Deal With Scrutiny of Its Power
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
             Aliquam, amet quos magnam, dolor aperiam modi recusandae adipisci totam eum commodi in quam, 
             doloremque inventore at libero impedit perspiciatis quis officia!
              <br />
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
            <div class="field has-addons has-addons-centered">
              <p class="control">
                <button class="button is-success">
                  download
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Russia Opens Antitrust Inquiry Into App Restriction at Apple
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              There are a few exceptions to the general rule of using a before
              words that start with consonants and an before words that begin
              with vowels. The first letter of the word honor, for example, is a
              consonant, but it’s unpronounced. In spite of its spelling, the
              word honor begins with a vowel sound. Therefore, we use an.
              Consider the example sentence below for an illustration of this
              concept.Uncountable nouns are nouns that are either difficult or
              impossible to count. Uncountable nouns include intangible things
              (e.g., information, air), liquids (e.g., milk, wine), and things
              that are too large or numerous to count (e.g., equipment, sand,
              wood).
              <br />
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
            <div class="field has-addons has-addons-centered">
              <p class="control">
                <button class="button is-success">
                  download
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






































<!-- <div class="parallax-container">
  <div class="parallax">
    <img src="assets/image/secction2.png" alt="">
  </div>
</div>

<div class="white white-text center">
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/image/5.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Historia</span>
          <p><a href="elements/history">Ver mas</a></p>
        </div>
      </div>
    </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/image/3.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Horarios</span>
            <p><a href="#">Ver mas</a></p>
          </div>
        </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/image/4.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Donaciones</span>
          <p><a href="#">Ver mas</a></p>
        </div>
      </div>
    </div>
</div>


<div class="parallax-container">
  <div class="parallax">
    <img src="assets/image/secction2.png" alt="">
  </div>
</div>
 -->
