.is-shadowless {
    // -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.is-slightly-rounded {
    border-radius: 2%;
}
.card {
    height: 100%;
}

.card {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    color: #63636d;
    max-width: 100%;
    position: relative;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

div {
    display: block;
}
html {
    background-color: #fff;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}


section{
    padding: 5rem 0;
    background-color: #fff;
    text-align: center;
    
}

.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;

}
.heading::after{
    content: "";
    width: 30rem;
    height: .8rem;
    background-color: rgb(20, 6, 214);
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;

}

