
<section>
    <div class="container">


<br/>
<a class="button is-primary" href="/player/creator">Añadir nuevo jugador</a>
<br/>
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Cedula
            </th>
            <th>
                Email
            </th>
            <th>
                Rol
            </th>
            <th>
                Telefono
            </th>
            <th>
                Edad
            </th>
            <th>
                Peso
            </th>
            <th>
                Estatura
            </th>
            <th>
                Titulos
            </th>
            <th>
                Fortalezas
            </th>
            <th>
                Link
            </th>

            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of PlayerList | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>
                <img class="activator" width="50px" height="200px" src="{{p.image}}">
            </td>
            <td>
                {{p.name}}
            </td>
            <td>
                {{p.lastname}}
            </td>
            <td>
                {{p.code}}
            </td>
            <td>
                {{p.email}}
            </td>
            <td>
                {{p.rol}}
            </td>
            <td>
                {{p.phone}}
            </td>
            <td>
                {{p.age}}
            </td>
            <td>
                {{p.weigth}}
            </td>
            <td>
                {{p.height}}
            </td>
            <td>
                {{p.titles}}
            </td>
            <td>
                {{p.strengths}}
            </td>
            <td>
                {{p.link}}
            </td>
            <td>
                <a class="button is-primary" href="/player/editor/{{p.id}}">
                    Editar
                </a>
            </td>
            <td>
                <button *ngIf="!showConfirmationButtons; else deleteConfirmationTemplate" (click)="ChangeConfirmationButtons(p.id)" class="button is-danger">
                    Eliminar</button>
                   <ng-template #deleteConfirmationTemplate>
                    <div *ngIf="idToShowButtons == p.id">
                        <button class="button is-danger" (click)="deletePlayer(p.id)">
                            Eliminar</button>&nbsp;
                            <button class="button is-success" (click)="ChangeConfirmationButtons('')">
                               Cancelar</button>
                    </div>
                   </ng-template>
            </td>
        </tr>
    </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</section>