<nav class="navbar" role="navigation" aria-label="main navigation">
  <strong *ngIf="userLogged"></strong>
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <h3 class="title is-3">PELICANOS</h3>
    </a>

    <a role="button" class="navbar-burger burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="navbar-item button is-success is-outlined" *ngIf="!userLogged" routerLink="/user/register" routerLinkActive="is-active">
            <strong>Registrarse</strong>
          </a>
          <a class="navbar-item button is-primary is-outlined" *ngIf="!userLogged" routerLink="/user/login" routerLinkActive="is-active">
            Iniciar Sesión
          </a>
          <a class="navbar-item" *ngIf="userLogged" routerLink="/user/logout" routerLinkActive="is-active">
            Cerrar Sesión
          </a>
          <div class="buttons" *ngIf="userLogged">
            <a routerLink="/player/list" class="navbar-item nuxt-link-exact-active nuxt-link-active ">Lista Jugadores</a>
            <a routerLink="/player/view" class="navbar-item">Jugadores</a>
          </div>         
        </div>
      </div>
    </div>
  </div>
</nav>
