
.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 5rem 1.5rem;
	vertical-align: middle;

	background-size: cover;
	margin: auto;

}



.hero.is-fullheight .hero-body {
    align-items: center;
    display: flex;
}