<section class="is-fullheight">
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column">
					<img src="../../../assets/image/6.png" alt="Pel">
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<h1 class="title is-1 has-text-black">Historia</h1>
					<div>
						<p>
							El club D P. Voleibol, desde 2016 como institución deportiva y avalada y registrada por la secretaria de 
							Deporte y la Alcaldía Municipal de Manizales; se remonta al nombre “Pelicanos ” por Juan David Yepez Mazo uno 
							de los entrenadores de Voleibol del Colegio San Rafael de Manizales y compañero de equipo de la Selección Caldas Mayores.
							Enseñanzas y compartir con Juan DAVID que por su característica, ser jovial y expresivo, de modo insospechado ni 
							premeditado, le ha dado el nombre a algunos de sus alumnos y compañeros de equipo de la Liga de Caldas. Los pelicanos, 
							animales grandes y voladores de la playa. Siendo invitados por la Liga Caldense de Voleibol a participar en un evento 
							de ferias de Manizales comenzando año en Enero; el resultado fue el mejor entre las duplas que se habían seleccionado 
							por la Liga, ocupando inicialmente una 4ta posición en la ciudad; hecho que nos llevó a seguir viajando al mes siguiente 
							a Pereira a patricipar en el BVS y a posterior, campeonatos Nacionales en Necoclí y Arboletes, Antioquia al mes de Semana 
							Santa y clasificando por participación al circuito Nacional de Voley Playa Clasificatorio a Juegos Deportivos nacionales 2015. 
							Como se proyectaba, el voleibol de playa es un deporte que por las condiciones climáticas y la falta de escenarios dignos y 
							competencias de esta naturaleza en la región, a duras penas se adapta a la practica en la ciudad de Manizales que se encuentra en 
							el medio del país. Para buscar fondos para los posteriores viajes y proyección con el objetivo de clasificar a JJ.DD.NN, como j
							 ugadores de la Liga Caldense de Voleibol, propusimos un préstamo inicial del escenario del Bosque Popular el Prado para realizar
							los respectivos entrenamientos en arena, siendo aún muy básico este conocimiento para desenvolverse óptimamente en estas condiciones.
							Se realizó un. Primer torneo masculino y fue el inicio para seguir emprendiendo y demostrando el gran auge y las condiciones 
							especiales que se necesitan para la practica del Voley Playa. En el año 2017 se tuvo la idea de reunir a los afiliados fundadores
							para una idea inicial que sería un club deportivo de Formación en la enseñanza del Voleibol en general y el Voley playa 
							específicamente. Se lograron varios objetivos, como obtener el Reconocimiento deportivo de la secretaria de deportes de la 
							Alcaldia de Manizales, la personería jurídica que nos identifica como una institución legal digna para ofrecer los servicios 
							deportivos en la ciudad y la región. Posteriormente se hizo el proceso para la afiliación a la Liga Caldense de Voleibol. 
							Se da inicio a una nueva etapa de construcción sistemática de entrenamientos y procesos personalizados en pro de la expansión
							y profesionalización del Voleibol en Colombia.
							Se realiza el primer torneo mixto 3x3 que contó con patrocinadores y colaboradores con marcas de peso como tea “hatsu tea”, 
							seguros DOGMA, Fundación “Rotary”, 
							instituto de Cultura y turismo entre otros.Tras 4 años de funcionamiento, el Club deportivo pelicanos ha logrado desenvolverse
							y destacarse en la región y la ciudad gracias a la calidad de todos los eventos que se han realizado por primera vez en Manizales;
							siendo así el desarrollo de actividades competitivas el estandarte del club debido a que el escenario ó sede deportiva que es una 
							locación de distinción y sumamente agradable a la hora de acercarse al escenario, pues el bosque popular el prado cuenta 
							con características que lo hacen único y digno de visitar. Se han realizado eventos de talla única como eventos de Voley Playa 
							para las mismas categorías, como 2x2, 3x3 y mixtos en estas modalidades y por consiguiente se han realizado Torneo Empresariales, 
							Universitarios, Torneos Mixtos internos, Torneos Mixtos 3x3 y se han desarrollado dos versiones del aclamado y posicionado Circuito 
							Nacional de Clubes de Voley Playa “Arena Tour“, en 2017 y 2018; circuito del cual Pelicanos se siente orgulloso de ser el primer 
							Club Campeón en la rama Masculina del 1er Circuito Nacional por Clubes de Voley Playa. Se han confeccionado 3 estilos de camisetas 
							para uniformidad adentro del club, contamos con chaquetas a disposición de los afiliados y carnetización y caracterización individual 
							a la hora de realizar la inscripción y el registro con Pelicanos Voley Club.  
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	

