<section>
    <div class="container">
        <div class="box">
            <h4 class="title is-4">Jugador</h4>

            <div class="column is-6 field">
                <label class="label">Nombre</label>
                <div class="control">
                    <input [(ngModel)]="player.name" id="name" name="name" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Apellido</label>
                <div class="control">
                    <input [(ngModel)]="player.lastname" id="lastname" name="lastname" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Cedula</label>
                <div class="control">
                    <input [(ngModel)]="player.code" id="code" name="code" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Email</label>
                <div class="control">
                    <input [(ngModel)]="player.email" id="email" name="email" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Rol</label>
                <div class="control">
                    <input [(ngModel)]="player.rol" id="rol" name="rol" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Telefono</label>
                <div class="control">
                    <input [(ngModel)]="player.phone" id="phone" name="phone" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Age</label>
                <div class="control">
                    <input [(ngModel)]="player.age" id="age" name="age" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Peso</label>
                <div class="control">
                    <input [(ngModel)]="player.weigth" id="weigth" name="weigth" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Estatura</label>
                <div class="control">
                    <input [(ngModel)]="player.height" id="height" name="height" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Fortalezas</label>
                <div class="control">
                    <input [(ngModel)]="player.strengths" id="strengths" name="strengths" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">Red Social</label>
                <div class="control">
                    <input [(ngModel)]="player.link" id="link" name="link" class="input" type="text" />
                </div>
            </div>
            <div class="column is-6 field">
                <label class="label">imagen</label>
                <div class="control">
                    <input [(ngModel)]="player.image" id="image" name="image" class="input" type="text" />
                </div>
            </div>



            <div class="field column is-12 has-text-centered">
                <button class="button is-success" (click)="updatePlayer()">
                    Guardar
                </button>
            </div>


        </div>
    </div>

    <!-- STARS -->

    <div class="night">
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
        <div class="shooting-star"></div>
    </div>
</section>


<!-- <div class="row">
    <input [(ngModel)]="player.id" type="hidden" id="id"/>
    <div class="row">
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.name" id="name" type="text" class="validate">
            <label class="active" for="name">Nombre</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.lastname" id="lastname" type="text" class="validate">
            <label class="active" for="lastname">Apellido</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.code" id="code" type="text" class="validate">
            <label class="active" for="code">Cedula</label>
        </div>
    </div>
    <div class="row">
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.email" id="email" type="text" class="validate">
            <label class="active" for="email">Email</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.rol" id="rol" type="text" class="validate">
            <label class="active" for="rol">Rol</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.phone" id="phone" type="text" class="validate">
            <label class="active" for="phone">Telefono</label>
        </div>
    </div>
    <div class="row">
        <div class="input-fiel col s3">
            <input [(ngModel)]="player.age" id="age" type="text" class="validate">
            <label class="active" for="age">Edad</label>
        </div>
        <div class="input-fiel col s3">
            <input [(ngModel)]="player.weigth" id="weigth" type="text" class="validate">
            <label class="active" for="weigth">Peso</label>
        </div>
        <div class="input-fiel col s3">
            <input [(ngModel)]="player.height" id="height" type="text" class="validate">
            <label class="active" for="height">Estatura</label>
        </div>
        <div class="input-fiel col s3">
            <input [(ngModel)]="player.titles" id="titles" type="text" class="validate">
            <label class="active" for="titles">Titulos deportivos</label>
        </div>
    </div>
    <div class="row">
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.strengths" id="strengths" type="text" class="validate">
            <label class="active" for="strengths">Fortalezas</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.link" id="link" type="text" class="validate">
            <label class="active" for="link">Red Social(Link)</label>
        </div>
        <div class="input-fiel col s4">
            <input [(ngModel)]="player.image" id="image" type="text" class="validate">
            <label class="active" for="image">Foto (link)</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-ligth btn green" (click)="updatePlayer()" >
                <i class="material-icons right">edit</i>
                Actualizar</a>
        </div>
    </div>
</div> -->