<section>
  <div class="container">
    <div class="box">
      <h4 class="title is-3 has-text-centered">Recuperar Contraseña</h4>
          <div class="columns">
            <div class="column ">
              <div class="field ">
                <p class="control has-icons-left">
                  <input [(ngModel)]="email" class="input" type="text"
                    placeholder="Email" name="email" id="email" type="email" autocomplete="off">
                </p>
              </div>
            </div>
          </div>
          <div class="field has-addons has-addons-centered">
            <p class="control">
              <button class="button is-link" (click)="sendPassword()" type="submit" >
                Enviar
              </button> 
            </p>
          </div>
        
    </div>
  </div>

  <!-- STARS -->

  <div class="night">
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
  </div>
</section>





